#navbar{
	border-left:0px;
	border-right:0px;
}
#logo{
	padding-left:100px;
}
@media screen and (max-width:768px){
	#logo { padding-left:30px; }
}
.nav_active{
	border-bottom: solid 2px #F0AD4E;
}
#navbar div{
	float:left;
}
.login{
	padding-right:100px;
	padding-top:8px;
}
.login button{
	outline: none;
}
.login a{
	text-decoration:none;
	color:#9F7777;
}

#iform input{
	width:350px;
}

#pop1{
	/*background: url(/statics/img/bj2.jpg/);*/

}
.clear{
	clear:both;
}

#lform input{
	width:250px;
}
