#navbar{
	border-left:0px;
	border-right:0px;
}
#logo{
	padding-left:100px;
}

.nav_active{
	border-bottom: solid 2px #F0AD4E;
}
#navbar div{
	float:left;
}
.login{
	padding-right:100px;
	padding-top:8px;
}
.login button{
	outline: none;
}
.login a{
	text-decoration:none;
	color:#9F7777;
}

#iform input{
	width:350px;
}

#pop1{
	/*background: url(/statics/img/bj2.jpg/);*/

}
.clear{
	clear:both;
}

#lform input{
	width:250px;
}

@media screen and (max-width:992px){
	body{ overflow-x: scroll; }
	#logo { padding-left:30px; }
	.login { padding-right:30px;}

}
@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('/statics/fonts/glyphicons-halflings-regular.eot');
	src: url('statics/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
		url('/statics/fonts/glyphicons-halflings-regular.woff') format('woff'),
			url('/statics/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
				url('/statics/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-moz-osx-font-smoothing: grayscale;