/*body{background:#09c;}*/
#div1 {
    height: 258px;
    width: 400px;
    position: relative;
    margin: 0px auto ;
}

#div1 a {
    position: absolute;
    top: 0px;
    left: 0px;
    color: #3691ff;
    font-weight: bold;
    padding: 3px 6px;
}

#div1 a:hover {
    border: 1px solid #d7eeca;
    background: #ddaf3e;
    border-radius: 5px;
}
