target
.idea/workspace.xml
.idea/dataSources
.idea/sqldialects.xml
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/kotlinc.xml
.idea/misc.xml
.idea/uiDesigner.xml
.idea/libraries
src/main/resources/jdbc.properties
src/test
1.0.iml